header {
  background-color: grey;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/background.png');
  background-position: center;
  background-size: cover;
}
header nav {
  display: flex;
  padding-top: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
header nav a img {
  width: 150px;
  height: 150px;
}
header nav a img{
  border-radius: 50%;
}

@media(max-width: 1400px) {
  header nav {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  header nav a img {
    width: 100px;
    height: 100px;
  }
}
