/* MAIN MENU DISPLAYED ONLY ON BIGGER SCREENS */
#main-menu-placeholder {
  width: 100%;
  height: 0;
}
#main-menu-wrapper {
  width: 100%;
  background-color: #000;
  z-index: 1;
}
#main-menu {
  width: 85%;
  margin: auto;
}
#main-menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  margin: 1rem 0;;
}
#main-menu ul li {
  list-style-type: none;
  position: relative;
  transition: transform 0.5s;
}
#main-menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
#main-menu ul li:hover {
  transform: scale(1.15);
}

/* HEADER MENU DISPLAYED ONLY ON SMALLER SCREENS */
header nav .fa {
display: none;
}

@media(max-width: 700px) {
  #header-menu {
    position: fixed;
    background-image: linear-gradient(to right,rgb(190, 190, 190), white);
    display: flex;
    height: 100%;
    width: 100px;
    top: 0;
    right: -100px;
    text-align: center;
    z-index: 1;
    transition: 1s;
  }
  #header-menu-list li{
    list-style-type: none;
    margin: 20px auto;
    position: relative;
    transition: transform 0.5s;
  }
  #header-menu-list li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  #header-menu-list li::before,
  #header-menu-list li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #000;
    display: block;
    margin: auto;
    transition: width 0.5s;
  }
  #header-menu-list li:hover::before,
  #header-menu-list li:hover::after {
    width: 75%;
  }
  #header-menu-list li:hover {
    transform: scale(1.15);
  }
  header nav .fa {
    display: block;
    cursor: pointer;
    margin: 10px;
  }
  #close {
    display: flex;
    cursor: pointer;
    padding: 0 5px;
    align-items: center;
    color:#000;  
  }
}
