#profile {
    width: 50%;
    color: #fff;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 1440px) {
        width: 85%;
    }

    @media (max-width: 768px) {
        width: 90%;
    }

    @media (max-width: 425px) {
        width: 95%;
        top: 50%;
        left: 25%;
        transform: translate(-25%, -50%);
    }
}
#profile p {
  margin: 10px 0 40px;
}

#profile a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  position: relative;
  cursor: pointer;
}
#profile a:hover {
    transition: 1s;
}

#profile a.full {
  color: #000;
  background: #fff;
  border: 2px solid transparent;
}
#profile a.full:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

#profile a.outline {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}
#profile a.outline:hover {
  background: #fff;
  color: #000;
  border: 2px solid transparent;
}

#profile h1 {
    font-size: 48px;
    @media (max-width: 1440px) {
        font-size: 40px;
    }
    @media (max-width: 768px) {
        font-size: 36px;
    }

    @media (max-width: 425px) {
        font-size: 24px;
    }
}
