#scrollButton {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: #333333;
  margin: 2%;
  border-radius: 50%;
  opacity: 100%;
  transition: opacity 0.5s;
}
#scrollButton.hidden {
    opacity: 0%;
}
#scrollButton:hover {
  background-color: #111111;
  transform: scale(1.15);
}
