* {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
body > section {
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white !important;
  margin: auto;
  text-align: center;
}
section > ul {
    color: black;
}
.title {
  font-size: 48px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@media (max-width: 700px) {
  * {
    font-size: 12px;
  }
  .title {
    font-size: 24px;
  }
}
